.land#top
  ul.nav.wow.animated.fadeInDown(data-wow-delay="2s")
    li 
      a(href="#top") Home
    li
      a(href="#about") About
    li
      a(href="#download") Download
  .intro
    img.wow.animated.fadeInUp(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/fd-logo.svg", data-wow-delay=".5s")
    .logo.wow.animated.fadeInUp(data-wow-delay="1s")
      h3 a timer app for standing desks
    .download.wow.animated.fadeInUp(data-wow-delay="1.5s")
      a.button(href="#download") Download
.container-fluid#about
  .row
    .col-xs-12.text-center
      h1 Simple. That's It
      h4 Set your time, stand up and sit down!
.container-fluid.s-img
  .screenshot
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/fitdeskpic.png")
.container#download
  .row
    .col-xs-12.text-center
      h1 Available for:
  .d-logo
    .logo
      a(href="#0")
        img(src="http://forums.macrumors.com/attachments/apple-logo-gif.87561/")
    .logo
      a(href="#0")
        img(src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Windows_logo_-_2012.png")
    .logo
      a(href="#0")
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/1000px-Tux.svg.png")
footer.text-center
  span &copy; 2015 | Created by Mason Fox
  